build/
data/protein
data/thinfilm
out/
scripts/*
!scripts/vesicle.py

*.so
*.pyd
*.dll
*.o
*.a
*.obj
*.lib

dist/
*.egg-info/
*.egg

__pycache__/
*.pyc
.cache/
*.log
*.tmp

.vscode/
.idea/
.env/
.venv/
venv/

