build/
data/vesicle
data/thinfilm
data/loader.py
out/
scripts/*
!scripts/protein.py

*.so
*.pyd
*.dll
*.o
*.a
*.obj
*.lib

dist/
*.egg-info/
*.egg

__pycache__/
*.pyc
.cache/
*.log
*.tmp

.vscode/
.idea/
.env/
.venv/
venv/

